.super-admin-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.super-admin-page-container .navbar-container {
  width: 100%;
}

.super-admin-page-container .top-section,
.super-admin-page-container .bottom-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 50px;
}

.super-admin-page-container .top-section .new-request-container {
  width: 70%;
}

.super-admin-page-container .bottom-section .client-info-container {
  width: 80%;
}
